altair
numpy
pandas
pydeck
streamlit
tf-nightly-cpu
torch
torchvision
torchaudio
openai
tiktoken
chromadb
pysqlite3-binary
scikit-learn
matplotlib
loguru
plotly

--pre
--find-links https://mlc.ai/wheels 
mlc-chat-nightly 
mlc-ai-nightly 